<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    <!-- Sheet Navigation Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="main">
            <i class="far fa-cauldron"></i> Main Options
        </a>
    </nav>
    <div class="tab" data-tab="main">

        <fieldset>
            <legend>Particle Emitter Core</legend>
            
            <div class="form-group slim">
                <label>Coordinates <span class="units">(Pixels)</span></label>
                <div class="form-fields">
                    <label>X</label>
                    <input type="number" name="x" placeholder="X" value="{{ data.x }}" data-dtype="Number" />
        
                    <label>Y</label>
                    <input type="number" name="y" placeholder="Y" value="{{ data.y }}" data-dtype="Number" />
                </div>
            </div>

            <div class="form-group slim">
                <label>Playback Speed Multiplier</label>
                <div class="form-fields">
                    <input type="number" name="playbackSpeed" placeholder="1" value="{{ data.playbackSpeed }}" step="0.01" data-dtype="Number" />
                </div>
            </div>

            <div class="form-group"><label>Always Render</label>
                <div class="form-fields">
                    <input type="checkbox" name="alwaysRender" data-dtype="Boolean" {{checked data.alwaysRender}}/>
                </div>
                <p class="hint">Render particle effects overtop of fog of war.</p>
            </div>

            <!-- <div class="form-group slim">
                <label>Elevation <span class="units">(ft)</span></label>
                <div class="form-fields">
                    <input type="number" name="elevation" value="{{ data.elevation }}" step="any" placeholder="ft">
                </div>
            </div> -->

            <div class="form-group">
                <label>Particle Function</label>
                <select name="particleFunction">
                    {{selectOptions particleFunctionTypes selected=data.particleFunction blank=""}}
                </select>
            </div>
        </fieldset>
 
        <div class="form-group">
            <label>Rotation Angle <span class="units">(Degrees)</span></label>
            <div class="form-fields">
                <range-picker name="rotation" value="{{ data.rotation }}" min="0" max="360" step="1">
                    <input type="range" min="0" max="360" step="1">
                    <input type="number" min="0" max="360" step="1">
                </range-picker>
            </div>
        </div>

        <section class="function-elements">
        </section>
    </div>

    
    <!-- Sheet Footer -->
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update Partile Emitter</button>
    </footer>
</form>